{% load i18n %}
{% load hq_shared_tags %}

<script type="text/html" id="sub-group-fullform-ko-template">
  <div class="gr" data-bind="
        css: {
          'gr-no-children': $data.children().length === 0,
          'gr-has-no-questions': _.all($data.children(), function(d) { return d.type() !== 'question' }),
          'gr-has-no-nested-questions': !$data.hasAnyNestedQuestions()
        }">
    <fieldset class="gr-header">
      <legend>
        <span class="caption webapp-markdown-output" data-bind="html: ko.utils.unwrapObservable($data.caption_markdown) || caption()"></span>
        <button class="btn btn-xs btn-danger del pull-right" href="#" data-bind="
                    visible: isRepetition,
                    click: deleteRepeat
                ">Delete repeat</button>
      </legend>
      <span class="ix"></span>
    </fieldset>
    <div class="children" data-bind="template: { name: childTemplate, foreach: $data.children }"/>
  </div>
</script>

<script type="text/html" id="form-navigation-ko-template">
  <div class="formnav-container" data-bind="visible: showInFormNavigation">
    <button type="button"
            class="btn btn-formnav"
            data-bind="click: prevQuestion, visible: enablePreviousButton">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button type="button"
            disabled="disabled"
            class="btn btn-formnav disabled"
            data-bind="visible: !enablePreviousButton()">
      <i class="fa fa-chevron-left"></i>
    </button>

    <button type="button"
            class="btn btn-success btn-formnav-submit"
            data-bind="visible: atLastIndex(), click: submitForm">Complete <i class="fa fa-chevron-right"></i></button>

    <button type="button"
            disabled="disabled"
            class="btn btn-formnav disabled btn-formnav-next"
            data-bind="visible: disableNextButton() && !atLastIndex()">
      <i class="fa fa-chevron-right"></i>
    </button>
    <button type="button"
            class="btn btn-formnav btn-formnav-next"
            data-bind="click: nextQuestion, visible: enableNextButton() && !atLastIndex()">
      <i class="fa fa-chevron-right"></i>
    </button>
    <button type="button"
            class="btn btn-formnav btn-formnav-next"
            data-bind="click: clickedNextOnRequired, visible: enableForceNextButton() && !atLastIndex()">
      <i class="fa fa-chevron-right"></i>
    </button>

  </div>
</script>

<script type="text/html" id="form-fullform-ko-template">
  <div class="webforms-nav-container"
       data-bind="css: { 'webforms-nav-single-question': showInFormNavigation }">
    <div class="webforms-nav"
         data-bind="template: { name: 'form-navigation-ko-template' }"></div>
  </div>
  <div class="container form-container js-form-container" data-bind="
          css: { 'form-single-question': showInFormNavigation },
      ">

    <div class="page-header">
      <h1 class="title" data-bind="text: title, visible: !showInFormNavigation()"></h1>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <form class="form form-horizontal" data-bind="submit: submitForm">
          <div class="question-container">
            <div data-bind="template: { name: childTemplate, foreach: $data.children }"/>
          </div>
          <div class="form-actions form-group" data-bind="visible: showSubmitButton">
            <div data-bind="css: submitClass">
              <button class="submit btn btn-primary"
                     type="submit"
                     data-bind="enable: enableSubmitButton">
                <i class="fa fa-spin fa-refresh" data-bind="visible: !enableSubmitButton()"></i>
                <!-- ko text: submitText --><!-- /ko -->
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="question-fullform-ko-template">
  <!-- ko if: datatype() !== 'info' -->
  <div class="q form-group" data-bind="
            css: {
                error: error,
                required: $data.required,
                on: $root.forceRequiredVisible,
            }
        ">
    <label class="caption control-label" data-bind="css: labelWidth, attr: {'for': entry.entryId}">
      <div>
        <!-- ko if: help() -->
        <a
          class="help-text-trigger"
          role="button"
        ><i class="fa fa-question-circle"></i></a>
        <div class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p align="left" data-bind="text: help"></p>
              </div>
              <div class="modal-footer">
                <!-- This needs to be a <span> instead of a <button> because (inexplicably) making it
                a button causes it to get clicked automatically when the modal opens, thus closing
                the modal immediately after it opens. We have yet to figure out why this is so. -->
                <span class="btn btn-default help-modal-close" data-dismiss="modal">{% trans "Close" %}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- /ko -->
        <span class="webapp-markdown-output" data-bind="html: ko.utils.unwrapObservable($data.caption_markdown) || caption()"></span>
      </div>
      <i class="hint-text" data-bind="text: ko.utils.unwrapObservable($data.hint)"></i>
    </label>
    <div class="widget-container controls" data-bind="css: controlWidth">
      <div class="loading">
        <i class="fa fa-check text-success" data-bind="visible: clean "></i>
        <i class="fa fa-spin fa-refresh" data-bind="visible: dirty"></i>
        <i class="fa fa-remove text-danger clickable" data-bind="visible: hasError, click: triggerAnswer"></i>
      </div>
      <div class="widget" data-bind="
                template: { name: entryTemplate, data: entry, afterRender: afterRender },
                css: { 'has-error': hasError }
            ">
      </div>
      <div class="widget-multimedia" data-bind="
                template: { name: 'widget-multimedia-ko-template', data: $data }"
      >
      </div>
      <div class="text-danger error-message" data-bind="
                visible: error,
                text: error
            "></div>
      <div class="text-danger error-message server-error-message" data-bind="
                visible: serverError,
                text: serverError
            "></div>
    </div>
    <span class="ix" data-bind="text: ixInfo($data)"></span>
    <div class="eoq"></div>
  </div>
  <div class="form-group-required-label"
       data-bind="visible: $data.required, css: {
                      on: $root.forceRequiredVisible,
                    }">{% trans 'Sorry, this response is required!' %}</div>
  <!-- /ko -->
  <!-- ko if: datatype() === 'info' -->
  <div class="info panel panel-default">
    <div class="panel-body">
      <span class="ix" data-bind="text: ixInfo($data)">></span>
      <span class="caption webapp-markdown-output" data-bind="html: ko.utils.unwrapObservable($data.caption_markdown) || caption()"></span>
      <div class="widget-multimedia" data-bind="
                template: { name: 'widget-multimedia-ko-template', data: $data }"
      >
      </div>
    </div>
  </div>
  <!-- /ko -->
</script>

<script type="text/html" id="repeat-juncture-fullform-ko-template">
  <div class="panel panel-default rep">
    <div class="panel-heading">
      <h3 class="caption" data-bind="html: header"></h3>
      <span class="ix" data-bind="text: ixInfo($data)"></span>
    </div>
    <div class="panel-body">
      <div class="children" data-bind="template: { name: childTemplate, foreach: $data.children }"/>
      <div class="alert alert-info empty" data-bind="visible: !children().length">
        {% trans "This repeatable group is empty" %}
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default btn-xs add" href="#" data-bind="click: newRepeat">{% trans "Add new repeat" %}</button>
    </div>

  </div>
</script>

<script type="text/html" id="widget-multimedia-ko-template">
  <img class="img-responsive" data-bind="
         attr: { src: mediaSrc($data.caption_image()) },
         visible: mediaSrc($data.caption_image())
         " />
  <audio controls="controls" data-bind="visible: caption_audio, attr: { src: mediaSrc($data.caption_audio()) }">
    {% trans "Your browser does not support audio" %}
  </audio>
  <video controls="controls" data-bind="visible: caption_video, attr: { src: mediaSrc($data.caption_video()) }">
    {% trans "Your browser does not support video" %}
  </video>
</script>

<script type="text/html" id="text-entry-ko-template">
  <textarea class="textfield form-control" data-bind="
        value: $data.rawAnswer,
        valueUpdate: valueUpdate,
        attr: {
            maxlength: lengthLimit,
            id: entryId,
            'aria-required': $parent.required() ? 'true' : 'false',
        },
    "></textarea>
  <span class="help-block type" data-bind="
        text: helpText()
    "></span>
</script>

<script type="text/html" id="password-entry-ko-template">
  <input type="password" class="form-control" data-bind="
        value: $data.rawAnswer,
        valueUpdate: valueUpdate,
        id: entryId,
        attr: {'aria-required': $parent.required() ? 'true' : 'false'},
    "/>
  <span class="help-block type" data-bind="text: helpText()"></span>
</script>

<script type="text/html" id="str-entry-ko-template">
  <input autocomplete="off" type="text" class="form-control" data-bind="
        value: $data.rawAnswer,
        valueUpdate: valueUpdate,
        attr: {
            maxlength: lengthLimit,
            id: entryId,
            placeholder: placeholderText,
            'aria-required': $parent.required() ? 'true' : 'false',
        }
    "/>
  <span class="help-block type" data-bind="
        text: helpText()
    "></span>
</script>
<script type="text/html" id="unsupported-entry-ko-template">
  <div class="unsupported alert alert-warning">
    <a class="unsupported-question-type-trigger" role="button"
    ><i class="fa fa-question-circle"></i></a>
    {% blocktrans %}
      Sorry, web entry cannot support this type of question.
    {% endblocktrans %}
  </div>
  <div class="modal fade" role="dialog" id="unsupported-question-type-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% blocktrans %}
            This question will appear as follows in data exports.
          {% endblocktrans %}
          <br><br>
          <input type="text" class="form-control" data-bind="value: $data.answer" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">{% trans "OK" %}</button>
        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/html" id="address-entry-ko-template">
  <div data-bind="attr: { id: entryId }"></div>
</script>
<script type="text/html" id="geo-entry-ko-template">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
      <td class="lat coordinate" data-bind="text: formatLat()"></td>
      <td class="lon coordinate" data-bind="text: formatLon()"></td>
      <td align="right" valign="bottom">
        <button class="btn btn-default btn-xs clear" data-bind="click: onClear">{% trans "Clear map" %}</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="map" data-bind="attr: { id: entryId }">
    <div class="wait" data-bind="visible: !map">{% trans "Please wait while the map loads" %}</div>
  </div>
  <div>
    <form data-bind="submit: search">
      <div class="form-group">
        <div class="controls" data-bind="css: control_width">
          <div class="input-group">
            <input class="query form-control" type="text" />
            <span class="input-group-btn">
              <button class="btn btn-default search">{% trans "Search" %}</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</script>
<script type="text/html" id="select-entry-ko-template">
  <div class="sel clear">
    <div data-bind="foreach: choices, as: 'choice'">
      <div data-bind="css: { checkbox: $parent.isMulti, radio: !$parent.isMulti }">
        <label>
          <input data-bind="
                      checked: $parent.rawAnswer,
                      checkedValue: $index() + 1,
                      attr: {
                          id: 'group-' + $parent.entryId + '-choice-' + $index(),
                          type: $parent.isMulti ? 'checkbox' : 'radio',
                          name: $parent.entryId,
                          class: 'group-' + $parent.entryId,
                      },
                  "/>
          <span data-bind="renderMarkdown: $data"></span>
        </label>
      </div>
    </div>
    <button class="btn btn-default btn-xs pull-right" data-bind="click: onClear, fadeVisible: !isMulti && rawAnswer()">
      {% trans "Clear" %}
    </button>
  </div>
</script>
<script type="text/html" id="dropdown-entry-ko-template">
  <select class="form-control" data-bind="
        options: options,
        optionsValue: 'idx',
        optionsText: 'text',
        value: rawAnswer,
        valueAllowUnset: true,
        optionsCaption: '{% trans_html_attr 'Choose...' %}',
        id: entryId,
        'aria-required': $parent.required() ? 'true' : 'false',
        ">
  </select>
</script>
<script type="text/html" id="choice-label-entry-ko-template">
  <div class="row"
       data-bind="foreach: choices">
    <div data-bind="attr: { 'class': $parent.colStyle }">
      <!-- ko if: $parent.hideLabel -->
        <input type="radio" data-bind="
              checked: $parent.rawAnswer,
              checkedValue: $index() + 1,
              attr: {
                  id: 'group-' + $parent.entryId + '-choice-' + $index(),
                  name: $parent.entryId,
                  class: 'group-' + $parent.entryId,
              }
          "/>
      <!-- /ko -->
      <!-- ko ifnot: $parent.hideLabel -->
        <span data-bind="renderMarkdown: $data"></span>
      <!-- /ko -->
    </div>
  </div>
</script>
<script type="text/html" id="date-entry-ko-template">
  <div class="input-group">
    <input type="text" class="form-control" data-bind="attr: { id: entryId, 'aria-required': $parent.required() ? 'true' : 'false' }"/>
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
  </div>
</script>

<script type="text/html" id="datetime-entry-ko-template">
  <div class="input-group">
    <input type="text" class="form-control" data-bind="attr: { id: entryId, 'aria-required': $parent.required() ? 'true' : 'false' }"/>
    <span class="input-group-addon"><i class="fcc fcc-fd-datetime"></i></span>
  </div>
</script>

<script type="text/html" id="time-entry-ko-template">
  <div class="input-group">
    <input type="text" class="form-control" data-bind="attr: { id: entryId, 'aria-required': $parent.required() ? 'true' : 'false' }"/>
    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
  </div>
  <span class="help-block">{% trans "24-hour clock" %}</span>
</script>
<script type="text/html" id="blank-entry-ko-template"></script>
