{% extends "hqwebapp/base_section.html" %}
{% load compress %}
{% load i18n %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}

{% requirejs_main 'users/js/mobile_workers' %}

{% block page_navigation %}{{ block.super }}
  {% if request|ui_notify_enabled:"APP_USER_PROFILES_UPDATE"  %}
    <div class="alert alert-ui-notify alert-dismissible helpbubble helpbubble-purple helpbubble-no-arrow fade in"
         data-slug="{{ 'APP_USER_PROFILES_UPDATE'|ui_notify_slug }}"
         role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label='{% trans_html_attr "Close" %}'>
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="lead">{% trans 'New feature: App User Profiles' %}</p>
      <p>
        {% blocktrans %}
          Save time when creating and updating users by creating App User Profiles! Eliminate the need
                  to set every individual field for a user! Available though our Enterprise Subscription
        {% endblocktrans %}
      </p>
    </div>
  {% endif %}
{% endblock %}

{% block page_content %}
  {% initial_page_data 'can_access_all_locations' can_access_all_locations %}
  {% initial_page_data 'custom_fields_slugs' custom_fields_slugs %}
  {% initial_page_data 'custom_fields_profiles' custom_fields_profiles %}
  {% initial_page_data 'custom_fields_profile_slug' custom_fields_profile_slug %}
  {% initial_page_data 'draconian_security' draconian_security %}
  {% initial_page_data 'implement_password_obfuscation' implement_password_obfuscation %}
  {% initial_page_data 'pagination_limit_cookie_name' pagination_limit_cookie_name %}
  {% initial_page_data 'strong_mobile_passwords' strong_mobile_passwords %}
  {% registerurl 'location_search' domain %}
  {% registerurl 'mobile_workers' domain %}
  {% registerurl 'edit_commcare_user' domain '---' %}
  {% registerurl 'paginate_mobile_workers' domain %}
  {% registerurl 'activate_commcare_user' domain '---' %}
  {% registerurl 'deactivate_commcare_user' domain '---' %}
  {% registerurl 'send_confirmation_email' domain '---' %}

  <div>
    <div class="row">
      <div class="col-sm-12">
        <p class="lead">
          {% blocktrans %}
            Mobile Workers can log into applications in this project space and submit data.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans with hq_name=commcare_hq_names.COMMCARE_HQ_NAME %}
            Their activity and form submissions can be monitored in the Reports section of this {{ hq_name }} project space.
            <br />
            Read more about managing mobile workers on our
            <a href="https://confluence.dimagi.com/display/commcarepublic/Create+and+Manage+CommCare+Mobile+Workers" target="_blank">Help Site</a>.
          {% endblocktrans %}
        </p>
        <div class="btn-toolbar" style="margin-bottom: 20px;">
          {% if not request.is_view_only %}
            <button type="button"
                    class="btn btn-primary ko-template"
                    id="new-user-modal-trigger"
                    data-toggle="modal"
                    data-target="#new-user-modal"
                    data-bind="click: initializeUser">
              <i class="fa fa-plus"></i> {% trans "Create Mobile Worker" %}
            </button>
          {% endif %}

          {% if can_access_all_locations %}
            <a id="bulk_download" class="btn btn-info" href="{{ bulk_download_url }}">
              <i class="fa fa-cloud-download"></i> {% trans "Download Mobile Workers" %}
            </a>
          {% endif %}

          {% if not request.is_view_only %}
            {% if can_bulk_edit_users and can_access_all_locations %}
              <a id="bulk_upload" class="btn btn-default" href="{% url "upload_commcare_users" domain %}">
                <i class="fa fa-cloud-upload"></i> {% trans "Bulk Upload" %}
              </a>
            {% endif %}
            {% if can_add_extra_users and can_access_all_locations %}
              <a class="btn btn-default" href="{% url "user_fields_view" domain %}" id="btn-edit_user_fields">
                <i class="fa fa-edit"></i>
                {% trans "Edit User Fields" %}
              </a>
            {% endif %}
            {% if request|toggle_enabled:"FILTERED_BULK_USER_DOWNLOAD" %}
              <a class="btn btn-danger" href="{% url "delete_commcare_users" domain %}">
                <i class="fa fa-trash"></i>
                {% trans "Bulk Delete Users" %}
              </a>
              <a class="btn btn-default" href="{% url "commcare_users_lookup" domain %}">
                <i class="fa fa-search"></i>
                {% trans "Bulk Lookup of Users" %}
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if not request.is_view_only %}
      <div class="modal fade" id="new-user-modal">
        {% if can_add_extra_users %}
          <div class="modal-dialog">
            <form novalidate data-bind="submit: submitNewUser">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">{% trans 'Close' %}</span>
                  </button>
                  <h3 class="modal-title">{% trans "Create New Mobile Worker" %}</h3>
                </div>
                <div class="modal-body" data-bind="if: stagedUser">
                  <div class="form-horizontal" data-bind="with: stagedUser">
                    {% crispy new_mobile_worker_form %}
                    {% if custom_fields_form.fields %}
                      {% crispy custom_fields_form %}
                    {% endif %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                  <button type="submit" data-bind="enable: allowSubmit" class="btn btn-primary">
                    {% trans "Create" %}
                  </button>
                </div>
              </div>
            </form>
          </div>
        {% else %}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">{% trans 'Close' %}</span>
                </button>
                <h3 class="modal-title">{% trans "Create New Mobile Worker" %}</h3>
              </div>
              <div class="modal-body">
                <div class="alert alert-info text-center">
                  <p class="lead">
                    <i class="fa fa-warning"></i>
                    {% blocktrans %}
                      Mobile Worker Limit Reached
                    {% endblocktrans %}
                  </p>
                  <p>
                    {% blocktrans with request.plan.user_limit as u %}
                      You have reached the limit of <strong>{{ u }}
                      Mobile Workers</strong> included with your plan.
                    {% endblocktrans %}
                  </p>
                  {% if can_edit_billing_info %}
                    <p>
                      {% blocktrans %}
                        Please subscribe to a paid plan in order to add
                        more Mobile Workers.
                      {% endblocktrans %}
                    </p>
                  {% else %}
                    <p>
                      {% blocktrans %}
                        Please ask your billing administrator to subscribe
                        to a paid plan in order to add more Mobile Workers.
                      {% endblocktrans %}
                    </p>
                  {% endif %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                  {% trans 'Cancel' %}
                </button>
                <a href="{% url 'domain_select_plan' domain %}"
                   class="btn btn-primary {% if not can_edit_billing_info %}disabled{% endif %}">
                  {% trans 'Subscribe to Plan' %}
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="panel panel-info ko-template" id="new-users-list" data-bind="visible: newUsers().length">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% trans 'New Mobile Workers' %}
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="col-xs-3">{% trans "Username" %}</th>
            <th class="col-xs-3">{% trans "First Name" %}</th>
            <th class="col-xs-3">{% trans "Last Name" %}</th>
            <th class="col-xs-3">{% trans "Status" %}</th>
          </tr>
          </thead>
          <tbody data-bind="foreach: newUsers">
          <tr>
            <td data-bind="attr: {class: creation_status}">
                <span data-bind="visible: !user_id()">
                  <i class="fa fa-user"></i> <strong data-bind="text: username"></strong>
                </span>
              <a data-bind="attr: {href: edit_url}, visible: user_id">
                <i class="fa fa-user"></i> <strong data-bind="text: username"></strong>
              </a>
            </td>
            <td data-bind="attr: {class: creation_status}, text: first_name"></td>
            <td data-bind="attr: {class: creation_status}, text: last_name"></td>
            <td data-bind="attr: {class: creation_status}">
              <div data-bind="visible: creation_status() === $root.STATUS.PENDING">
                <i class="fa fa-circle-o-notch fa-spin"></i>
                {% trans 'Pending...' %}
              </div>
              <div data-bind="visible: creation_status() === $root.STATUS.SUCCESS">
                  <span class="text-success">
                    <i class="fa fa-check"></i> {% trans 'NEW' %}
                  </span>
              </div>
              <div data-bind="visible: creation_status() === $root.STATUS.ERROR">
                  <span class="text-danger">
                    <i class="fa fa-exclamation-triangle"></i>
                    {% trans "ERROR" %}
                    <!-- ko text: creation_error --><!--/ko-->
                  </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="users-list" class="ko-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Mobile Workers' %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <search-box data-apply-bindings="false"
                        params="value: query,
                                            action: function() { goToPage(1); },
                                            placeholder: '{% trans_html_attr "Search Workers..." %}'"></search-box>
            <p class="help-block">
              <i class="fa fa-info-circle"></i>
              {% blocktrans %}
                Search any text, or use a targeted query. For more info see the <a
                      href='https://wiki.commcarehq.org/display/commcarepublic/Create+and+Manage+CommCare+Mobile+Workers#CreateandManageCommCareMobileWorkers-C.SearchforMobileWorkers'
                      target='_blank'>Mobile Workers</a> help page
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-default pull-right"
                    data-bind="visible: !deactivatedOnly(), click: function() { deactivatedOnly(true); }">
              {% trans 'Show Deactivated Mobile Workers' %}
            </button>
            <button type="button" class="btn btn-default pull-right"
                    data-bind="visible: deactivatedOnly(), click: function() { deactivatedOnly(false); }">
              {% trans 'Show Active Mobile Workers' %}
            </button>
          </div>
        </div>
        <div class="alert alert-info" data-bind="visible: showNoUsers">
          {% blocktrans %}
            No Mobile Workers were found that matched your query.
          {% endblocktrans %}
        </div>
        <div class="alert alert-info" data-bind="visible: showProjectHasNoUsers">
          {% if request.is_view_only %}
            {% blocktrans %}
              <strong>There are no mobile workers visible to you at this time.</strong>
              Please contact your project's administrator if this is incorrect.
            {% endblocktrans %}
          {% else %}
            {% blocktrans %}
              <strong>There are currently no mobile workers in this project.</strong>
              Please create a new mobile worker above to get started.
            {% endblocktrans %}
          {% endif %}
        </div>
        <table class="table table-striped table-responsive" style="margin-bottom: 0;" data-bind="visible: showTable">
          <thead>
          <tr>
            <th class="col-xs-3">{% trans "Username" %}</th>
            <th class="col-xs-3">{% trans "First Name" %}</th>
            <th class="col-xs-2">{% trans "Last Name" %}</th>
            <th class="col-xs-2">{% trans 'Date Registered' %}</th>
            {% if request|toggle_enabled:"TWO_STAGE_USER_PROVISIONING" %}
            <th class="col-xs-2" data-bind="visible: deactivatedOnly()">{% trans 'Status' %}</th>
            {% endif %}
            {% if not request.is_view_only %}<th class="col-xs-2">{% trans 'Action' %}</th>{% endif %}
          </tr>
          </thead>
          <tbody data-bind="foreach: users">
          <tr>
            <td>
              <a data-bind="attr: {href: edit_url}">
                <i class="fa fa-user"></i>
                <strong data-bind="text: username"></strong>
              </a>
            </td>
            <td data-bind="text: first_name"></td>
            <td data-bind="text: last_name"></td>
            <td data-bind="text: date_registered"></td>
            {% if request|toggle_enabled:"TWO_STAGE_USER_PROVISIONING" %}
            <td data-bind="text: status, visible: $root.deactivatedOnly()"></td>
            {% endif %}
            {% if not request.is_view_only %}
              <td>
                {% if request|toggle_enabled:"TWO_STAGE_USER_PROVISIONING" %}
                {% comment %}
                This block should work regardless of feature flag status, but putting it behind the flag
                to minimize the chance of any regressions.
                {% endcomment %}
                <div data-bind="visible: !is_active() && is_account_confirmed()">
                  <button type="button" class="btn btn-default" data-toggle="modal"
                          data-bind="attr: {'data-target': '#activate_' + user_id()}">
                    {% trans "Reactivate" %}
                  </button>
                  <p data-bind="visible: action_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span data-bind="text: action_error"></span>
                  </p>
                </div>
                <div data-bind="visible: !is_active() && !is_account_confirmed()">
                  <button type="button" class="btn btn-default" data-toggle="modal"
                          data-bind="attr: {'data-target': '#confirm_' + user_id()}">
                    {% trans "Send Confirmation Email" %}
                  </button>
                  <p data-bind="visible: action_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span data-bind="text: action_error"></span>
                  </p>
                </div>
                {% else %}
                <div data-bind="visible: !is_active()">
                  <button type="button" class="btn btn-default" data-toggle="modal"
                          data-bind="attr: {'data-target': '#activate_' + user_id()}">
                    {% trans "Reactivate" %}
                  </button>
                  <p data-bind="visible: action_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span data-bind="text: action_error"></span>
                  </p>
                </div>
                {% endif %}
                <div data-bind="visible: is_active()">
                  <button type="button" class="btn btn-default" data-toggle="modal"
                          data-bind="attr: {'data-target': '#deactivate_' + user_id()}">
                    {% trans "Deactivate" %}
                  </button>
                  <p data-bind="visible: action_error">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span data-bind="text: action_error"></span>
                  </p>
                </div>
                <div class="modal fade" data-bind="attr: {id: 'activate_' + user_id()}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span>
                          <span class="sr-only">{% trans "Close" %}</span>
                        </button>
                        <h4 class="modal-title">{% trans "Reactivate Mobile Worker" %}</h4>
                      </div>
                      <div class="modal-body">
                        <p class="lead">
                          {% blocktrans %}
                            Are you sure you want to <strong>reactivate</strong> this mobile worker?
                          {% endblocktrans %}
                        </p>
                        <p class="lead">
                          <i class="fa fa-user"></i>
                          <strong data-bind="text: username"></strong>
                        </p>
                        <p>
                          {% blocktrans %}
                            Deactivated mobile workers are not able to log into new devices.<br />
                            Read more about
                            <a href='https://confluence.dimagi.com/display/commcarepublic/Create+and+Manage+CommCare+Mobile+Workers#CreateandManageCommCareMobileWorkers-D.Deactivate(Formerly"Archive")andDeleteMobileWorkers' target="_blank">
                              deactivating mobile workers
                            </a> on our Help Site.
                          {% endblocktrans %}
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          {% trans "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-primary"
                                data-bind="click: function(user) { user.is_active(true); }">
                          {% trans 'Reactivate' %}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" data-bind="attr: {id: 'deactivate_' + user_id()}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span>
                          <span class="sr-only">{% trans "Close" %}</span>
                        </button>
                        <h4 class="modal-title">{% trans "Deactivate Mobile Worker" %}</h4>
                      </div>
                      <div class="modal-body">
                        <p class="lead">
                          {% blocktrans %}
                            Are you sure you want to <strong>deactivate</strong> this mobile worker?
                          {% endblocktrans %}
                        </p>
                        <p class="lead">
                          <i class="fa fa-user"></i>
                          <strong data-bind="text: username"></strong>
                        </p>
                        <p>
                          {% blocktrans %}
                            Deactivated mobile workers are not able to log into new devices.<br />
                            Read more about
                            <a href='https://confluence.dimagi.com/display/commcarepublic/Create+and+Manage+CommCare+Mobile+Workers#CreateandManageCommCareMobileWorkers-D.Deactivate(Formerly"Archive")andDeleteMobileWorkers' target="_blank">
                              deactivating mobile workers
                            </a> on our Help Site.
                          {% endblocktrans %}
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          {% trans "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-danger"
                                data-bind="click: function(user) { user.is_active(false); }">
                          {% trans 'Deactivate' %}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                {% if request|toggle_enabled:"TWO_STAGE_USER_PROVISIONING" %}
                <div class="modal fade" data-bind="attr: {id: 'confirm_' + user_id()}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span>
                          <span class="sr-only">{% trans "Close" %}</span>
                        </button>
                        <h4 class="modal-title">{% trans "Confirm Account" %}</h4>
                      </div>
                      <div class="modal-body">
                        <p class="lead">
                          {% blocktrans %}
                            Would you like to send the account confirmation email to this account?
                          {% endblocktrans %}
                        </p>
                        <p class="lead">
                          <i class="fa fa-user"></i>
                          <strong data-bind="text: username"></strong>
                        </p>
                        <p>
                          {% blocktrans %}
                            The user will be sent an email with instructions to
                            set a password and be able to login to this project.
                          {% endblocktrans %}
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          {% trans "Cancel" %}
                        </button>
                        <button type="button" class="btn btn-primary"
                                data-bind="click: sendConfirmationEmail">
                          {% trans 'Send Account Confirmaton Email' %}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </td>
            {% endif %}
          </tr>
          </tbody>
        </table>
        <div class="alert alert-info" data-bind="visible: showLoadingSpinner() && !hasError()">
          <i class="fa fa-spin fa-spinner"></i>
          {% trans "Loading Workers..." %}
        </div>
        <div class="alert alert-danger" data-bind="visible: hasError">
          {% blocktrans %}
            <strong>There was an issue contacting the server.</strong>
            Please check your internet connection.
            If this issue continues, please
            <a href="#modalReportIssue" data-toggle="modal">report an issue</a>.
          {% endblocktrans %}
        </div>
        <pagination data-apply-bindings="false"
                    data-bind="visible: showTable"
                    params="goToPage: goToPage,
                          slug: 'mobile-workers',
                          perPage: itemsPerPage,
                          totalItems: totalItems,
                          onLoad: onPaginationLoad,
                          showSpinner: showPaginationSpinner"></pagination>
      </div>
    </div>
  </div>
{% endblock page_content %}
